In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#!pip3 install matplotlib

Requirement already satisfied: matplotlib in c:\users\kurs\workspace\venv\lib\site-packages (3.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\kurs\workspace\venv\lib\site-packages (from matplotlib) (2.4.6)
Requirement already satisfied: cycler>=0.10 in c:\users\kurs\workspace\venv\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kurs\workspace\venv\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\kurs\workspace\venv\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.11 in c:\users\kurs\workspace\venv\lib\site-packages (from matplotlib) (1.18.1)
Requirement already satisfied: six in c:\users\kurs\workspace\venv\lib\site-packages (from cycler>=0.10->matplotlib) (1.14.0)
Requirement already satisfied: setuptools in c:\users\kurs\workspace\venv\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (40.8.0)

### Load 'titanic_train.csv' CSV file and save last 5 rows in Excel format

In [24]:
df = pd.read_csv(file_path('titanic_train.csv'))
df.tail().to_excel(file_path('titanic_last_5.xlsx'),index=False)

NameError: name 'file_path' is not defined

### Load Excel file from previous exercise and save it again with only first four columns

In [25]:
df = pd.read_csv(os.path.join(folder_path, 'titanic_last_5.xlsx'))

NameError: name 'os' is not defined

### Test how loc and iloc works (be creative :) )

### Załaduj plik csv z `titanic_train.csv` z folderu `files_pandas_21_01_2017`

#### Sprawdź pierwsze wiersze

#### Policz wystąpienia wartości zmiennej survived

#### Sprawdź typy danych

In [26]:
data = pd.read_csv(os.path.join(file_path,("titanic_train.csv"), dtype={'Survived': bool})

SyntaxError: unexpected EOF while parsing (<ipython-input-26-46079febaf3e>, line 1)

# Wróćmy do wykładu - Zmiana typów danych w czasie odczytu

## Exercises

### Load 'titanic_train.csv' file, with category type for all columns that are compatible with this type.

### Fill NaN values in Age column with mean value of this column.

### Fill NaN values in Embarked with most common location.

### Create 3 Series with different indexes that overlap a bit (i.e. 1-10, 5-15, 10-20). Create DataFrame from them and see what happens.

### Display passengers with Age above 50

### Display passengers that Embarked at location S and are female

### Display passengers that paid for ticket more than 50 and are not in first class

### Display all passengers with Names that contain 'Johnson' (it's a surname)

# Dodatkowe ćwiczenia

Korzystając z pliku `matches.csv` zawierającego dane o rozgrywkach piłkarskich:

1. Znajdź wszystkie mecze pomiędzy dwoma wybranymi drużynami w latach 2010-2015.\
2. Znajdź 10 meczów z największą różnicą bramek.
3. Policz liczbę zdobytych i straconych bramek na sezon dla wybranej drużyny. Narysuj wykres obrazujący uzyskane wyniki.
4. Policz średnią liczbę bramek przypadającą na jeden mecz w każdej lidze. Narysuj wykres obrazujący uzyskane wyniki.